body{
    margin: 0;
    padding: 0;
    font-family: serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: lavender;
}
header{
    padding: 1em;
    background: seagreen;
    text-align: center;
}
h1,h2{
    text-align: center;
}
h1{
    color:lavender;
}
h2{
    color: steelblue;
}
.main{
    display: flex;
}
main{
    padding: 1em;
    height: 400px;
    background: tomato;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
aside{
    width: 25%;
    background: teal;
    color: seashell;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer{
    margin-top: auto;
    background: #000011;
    padding: 1em;
    color:#f0f0f0;
    text-align: center;
}